<%= render "shared/header" %>

<div class="show-main-wrapper">
  <div class="top-height"></div>
  <div class="show-container">
    <div class="profiles">
      <% if @team.image.attached? %>
        <%= image_tag @team.image.variant(resize: "200x180"), class: "team-logo" %>
      <%else%>
        <%= image_tag "noimage.png", class: "team-logo" %>
      <%end%>
      <% if team_signed_in? && current_team.id == @team.id %>
        <div class="edit-container">
          <%= link_to "編集", edit_team_path(@team.id), class: "show-btn edit" %>
          <%= link_to "選手編集", "#", class: "show-btn member" %>
        </div> 
      <%end%>
      <div class="profile">
        <div class="left-pro">
          チーム名:
        </div>
        <div class="right-pro">
          <%= @team.name %>
        </div>
      </div>
      <div class="profile">
        <div class="left-pro">
          代表者名:
        </div>
        <div class="right-pro">
          <%= @team.rep_name %>
        </div>
      </div>
    </div>  
  </div>
</div>

<%= render 'shared/footer' %>