<%= render "shared/main_header" %>
<div class="top-height"></div>

<div class="batting-result-order-wrapper">
  <div class="result-order-container">
    <%if flash[:alert] %>
      <p class="flash-message2 alert"><%= flash[:alert] %></p>
    <%end%>
      <div class="result-order-container-inner">
      
        <%# 得点掲示板--- %>
       <div class="score-board-container">
        <table border="1" class="score-table">
          <tr>
            <th colspan="2" class="score-team-name"></th>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
            <th>七</th>
            <th>八</th>
            <th>九</th>
            <th>R</th>
            <th>H</th>
            <th>E</th>
          </tr>
          <tr>
           <% if @game.teams.where(name: @game.result.batting_first)[0].image.attached? %>
            <td class="score-logo"><%= image_tag @game.teams.where(name: @game.result.batting_first)[0].image, class: "score-logo"%></td>
           <% else %>
            <td class="score-logo"><%=image_tag "noimage.png", class: "score-logo"%></td>
           <% end%>
            <td class="score-team-name-td"><%= @game.result.batting_first%></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr> 
           <% if @game.teams.where(name: @game.result.fielding_first)[0].image.attached? %>
            <td class="score-logo"><%= image_tag @game.teams.where(name: @game.result.fielding_first)[0].image, class: "score-logo"%></td>
           <% else %>
            <td class="score-logo"><%=image_tag "noimage.png", class: "score-logo"%></td>
           <% end%>
            <td class="score-team-name-td"><%= @game.result.fielding_first%></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </table>
       </div>
      <%# 得点掲示板  ここまで--- %>

      <%# ----home team %>
       

        <%# 打席の記述 %>
        <div class="batter-container">
          <%= form_with model: @at_bat_batting_result, url: team_game_batting_results_path(@home_team.id, @game.id), method: :post, local: true do |f| %>
          <table border="1" class="batter-table">
            <tr>
              <th class="order-number">打</th>
              <th colspan="2" class="order-name">打者</th>
              <th class="batting_result1">打席</th>
              <th class="batting_result1">送 信</th>
            </tr>
            <tr>
              <td><%= @batter[0].batting_order%></td>
              <% if @home_team.members.where(id: @batter[0].member_id)[0].mem_image.attached? %>
                <td class="mem-logo"><%= image_tag @home_team.members.where(id: @batter[0].member_id)[0].mem_image, class: "result-mem-logo"%></td>
              <% else %>
                <td class="mem-logo"><%=image_tag "noimage.png", class: "result-mem-logo"%></td>
              <% end%>
              
              <td><%= @home_team.members.where(id: @batter[0].member_id)[0].name%></td>
              <td>ヒット<%= f.collection_select "hit_id", Hit.all, :id, :name,{include_blank: "-----"}, {class: "batter-select-form"}%>
                        アウト<%= f.collection_select "out_id", Out.all, :id, :name,{include_blank: "-----"}, {class: "batter-select-form"}%>
                        エラー<%= f.collection_select "time_base_id", FieldError.all, :id, :name,{include_blank: "-----"}, {class: "batter-select-form"}%>
                        打点<%= f.collection_select :point_id, Point.all, :name, :name,{include_blank: "-----"}, {class: "batter-select-form"}%>
                        四死球<%= f.collection_select "four_deadball_id", FourDeadball.all, :name, :name,{include_blank: "-----"}, {class: "batter-select-form"}%></td>
                  <%= f.hidden_field :member_id, value: @batter[0].member_id %>
                  <%= f.hidden_field :order_id, value: @batter[0].id %>
                  <%= f.hidden_field :pitcher_id, value: @away_order.where(position_id: 1)[0].member_id %>
                  <%= f.hidden_field :away_team_id, value: @away_team.id %>
              <td><%= f.submit "送信", class: "submit"%></td>
            </tr>
          </table>
          <%end%>
        </div>
        <%# ----ここまで %>

        <div class="order-team-member-container">
          <table border="1" class="batting-result-table">
            <tr class="order-title">
              <th class="order-number">打</th>
              <th colspan="2" class="order-name">選手名</th>
              <th class="order-position">利</th>
              <th class="order-position">守</th>
              <th class="batting_result1">一打席</th>
              <th class="batting_result1">二打席</th>
              <th class="batting_result1">三打席</th>
            </tr>
            <% @home_order.each do |order|%>
              <% i = 1%>
                <tr>
                  <td><%= order.batting_order%></td>
                <% if @home_team.members.where(id: order.member_id)[0].mem_image.attached? %>
                  <td class="mem-logo"><%=image_tag @home_team.members.where(id: order.member_id)[0].mem_image, class: "result-mem-logo"%></td>
                <% else %>
                  <td class="mem-logo"><%=image_tag "noimage.png", class: "result-mem-logo"%></td>
                <% end%>
                  
                  <% if Position.find(order.position_id).id == 1%>
                    <td ><%= @home_team.members.where(id: order.member_id)[0].name%></td>
                    <td class="pitcher"><%= @home_team.members.where(id: order.member_id)[0].dominant_hand.name.slice(0, 2)%></td>
                    <td class="pitcher"><%=Position.find(order.position_id).name.slice(0)%></td>
                  <%else%>
                    <td><%= @home_team.members.where(id: order.member_id)[0].name%></td>
                    <td><%= @home_team.members.where(id: order.member_id)[0].dominant_hand.name.slice(-2, 2)%></td>
                    <td class="position-record"><%=Position.find(order.position_id).name.slice(0)%></td>
                  <%end%>
               </tr>
              <% i += 1%>
            <%end%>
          </table>
        </div>
      </div>
      <%# ----away team %>

      <%# ----------------------------------- %>
  </div>
</div>
