<%= render "shared/main_header" %>
<div class="top-height"></div>

<div class="wrapper">
  <%# --- サイドバーの実装 --ここから--%>
  <div class="side-bar">
    <%= render "shared/sidebar" %>
  </div>
  <%# --- サイドバーの実装 ---ここまで-%>

  <%# --- チャット画面 ---ここから-%>
  <div class="chat">
    <%if flash[:alert] %>
      <p class="flash-message alert"><%= flash[:alert] %></p>
    <% elsif flash[:notice] %>
      <p class="flash-message notice"><%= flash[:notice] %></p>
    <%end%>

    <div class="messages" id="messages-height">
      <% @messages.each do |message|%>
        <div class="message message-container">
          <%if message.team != current_team%>
            <div class="upper-message">
          <%else%>
            <div class="upper-message right-box-upper">
          <%end%>
            <div class="message-icon">

              <%if message.team.image.attached?%>
                <%= image_tag message.team.image ,class: "room-icon"%>
              <%else%>
                <%= image_tag "noimage.png" ,class: "room-icon"%>
              <%end%>
            </div>
            <div class="message-date">
              <%= message.created_at%>
              <div class="message-user">
                <%= message.team.name%>
              </div>
            </div>
          </div>
          <div class="lower-container">
            <%if message.team != current_team %>
              <div class="lower-message">
                <%unless message.game_day.present? == true%>
                  <div class="message-content">
                    <%= message.content%> 
                  </div>
                <%else%>
                  <div class="format-display">
                    <p class="format-title">試合が申込まれました</p>
                    <p>◯試合予定日: <%= message.game_day.strftime("%Y年%m月%d日") %>(<%= %w(日 月 火 水 木 金 土)[message.game_day.wday] %>)</p>
                    <p>◯球場: <%= message.stadium %></p>
                    <p>◯球場住所: <%= message.address %></p>
                    <div class="offer-btn-container">
                      <%= link_to "承諾", team_games_path(message.team_id),method: :post, class: "offer-btn contract" %>

                      <%= form_with model: @game, url: team_games_path(message.team_id), method: :post, local: :true do |f| %>
                        <%= f.hidden_field :game_day, value: message.game_day %>
                        <%= f.hidden_field :game_time, value: message.game_time %>
                        <%= f.hidden_field :stadium, value: message.stadium %>
                        <%= f.hidden_field :address, value: message.address %>
                        <%= hidden_field_tag "team_ids[]", message.room.teams.select{ |team| team.id != current_team.id}[0].id %>
                        <%= hidden_field_tag "team_ids[]", current_team.id %>
                        <%= f.submit "承諾", class:"index-btn" %>
                      <%end%>
                      <%= link_to "辞退", team_room_message_path(current_team.id, message.room.id, message.id), method: :delete, data: {confirm: "#{message.room.teams.select{ |team| team.id != current_team.id}[0].name}からのオファーを辞退しますか？"} , class: "offer-btn" %>
                    </div>

                  </div>
                <%end%>
              </div>
            <%else%>
              <div class="lower-message right-box-lower">
                <%unless message.game_day.present? == true%>
                  <div class="message-content right">
                    <%= message.content%> 
                  </div>
                <%else%>
                  <div class="format-display">
                    <p class="format-title">試合の申込</p>
                    <p>◯試合予定日: <%= message.game_day.strftime("%Y年%m月%d日") %>(<%= %w(日 月 火 水 木 金 土)[message.game_day.wday] %>)</p>
                    <p>◯試合開始: <%= message.game_time.hour%>:<%= message.game_time.strftime("%M") %>~</p>
                    <p>◯球場: <%= message.stadium %></p>
                    <p>◯球場住所: <%= message.address %></p>
                    <div class="offer-btn-container">
                      <%= link_to "申込の取消", team_room_message_path(current_team.id, message.room.id, message.id), method: :delete, data: {confirm: "#{message.room.teams.select{ |team| team.id != current_team.id}[0].name}との試合申込を取り消しますか？"} , class: "offer-btn" %>
                    </div>
                  </div>
                <%end%>
              </div>
            <%end%>
            </div>
          </div>
      <%end%>
    </div>

    <%# ---タブの実装 ---ここから-%>
    <div class="tab-container">
      <ul class="tab-lists">
        <li id="tab1" class="active">
          <div class="tab-title">
            メッセージ
          </div>
        </li>
        <li id="tab2">
          <div class="tab-title">
            フォーム
          </div>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-active"  id="tab1-cont">
          <%= form_with model: [@room, @message], url: team_room_messages_path(current_team.id, @room.id), method: :post, local: true, class: "form" do |f| %>
            <div class="form-input">
              <%= f.text_field :content ,class: "form-message", placeholder: "メッセージを入力" %>
            </div>
              <%= f.submit "送信" ,class: "form-submit" %>
          <%end%>
        </div>
        <div class="tab-none" id="tab2-cont">
          <%= form_with model: [@room, @message], url: team_room_messages_path(current_team.id, @room.id), method: :post, local: true, class: "format" do |f| %>
            <div class="input-gameday">
              <p>試合予定日</p><%= f.date_field :game_day, class: "game-day" %>
              <p>開始時間</p><%= f.time_select :game_time, {start_hour: 5, end_hour: 21, minute_step: 15, }  ,{class: "game-time"} %>
            </div>
            <div class="format-input">
              <%= f.text_field :stadium ,class: "format-message", placeholder: "球場名" %>
            </div>
            <div class="position">
              <div class="format-input">
                <%= f.text_field :address ,class: "format-message", placeholder: "球場の住所" %>
              </div>
                <%= f.text_field :content, style: "display: none;"%>
                <%= f.submit "送信" ,class: "form-submit format-submit" %>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <%# ---タブの実装  ---ここまで-%>
    
  </div>
</div>