<%= render "shared/main_header" %>
<div class="top-height"></div>

<div class="wrapper">
  <%# --- サイドバーの実装 --ここから--%>
  <div class="side-bar">
    <%= render "shared/sidebar" %>
  </div>
  <%# --- サイドバーの実装 ---ここまで-%>

  <%# --- チャット画面 ---ここから-%>
  <div class="chat">
  <% if flash[:notice]%>
    <p class="notice-message"><%= flash[:notice] %>
  <%end%>
    <div class="messages" id="messages-height">
      <% @messages.each do |message|%>
        <div class="message message-container">
          <%if message.team != current_team%>
            <div class="upper-message">
          <%else%>
            <div class="upper-message right-box-upper">
          <%end%>
            <div class="message-icon">
              <%= image_tag message.team.image ,class: "room-icon"%>
            </div>
            <div class="message-date">
              <%= message.created_at%>
              <div class="message-user">
                <%= message.team.name%>
              </div>
            </div>
          </div>
          <div class="lower-container">
            <%if message.team != current_team%>
              <div class="lower-message">
                <div class="message-content">
                  <%= message.content%>
                </div>
            <%else%>
              <div class="lower-message right-box-lower">
                <div class="message-content right">
                  <%= message.content%>
                </div>
            <%end%>
              </div>
            </div>
          </div>
      <%end%>
    </div>

    <%# ---タブの実装 ---ここから-%>
    <div class="tab-container">
      <ul class="tab-lists">
        <li id="tab1" class="active">
          <div class="tab-title">
            メッセージ
          </div>
        </li>
        <li id="tab2">
          <div class="tab-title">
            フォーム
          </div>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-active"  id="tab1-cont">
          <%= form_with model: [@room, @message], url: team_room_messages_path(current_team.id, @room.id), method: :post, local: true, class: "form" do |f| %>
            <div class="form-input">
              <%= f.text_field :content ,class: "form-message", placeholder: "メッセージを入力" %>
            </div>
              <%= f.submit "送信" ,class: "form-submit" %>
          <%end%>
        </div>
        <div class="tab-none" id="tab2-cont">
          <%= form_with model: [@room, @message], url: team_room_messages_path(current_team.id, @room.id), method: :post, local: true, class: "format" do |f| %>
              <div class="input-gameday">
               <p>試合予定日</p> <%= raw sprintf(
                  f.date_select(
                    :game_day,
                    class:'select-gameday',
                    use_month_numbers: true,
                    prompt: "---",
                    start_year: Time.now.year,
                    end_year: Time.now.year + 1,
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
              </div>
            <div class="format-input">
              <%= f.text_field :stadium ,class: "format-message", placeholder: "球場名" %>
            </div>
            <div class="position">
              <div class="format-input">
                <%= f.text_field :address ,class: "format-message", placeholder: "球場の住所" %>
              </div>
                <%= f.text_field :content, style: "display: none;"%>
                <%= f.submit "送信" ,class: "form-submit format-submit" %>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <%# ---タブの実装  ---ここまで-%>
    
  </div>
</div>