<%= render "shared/main_header" %>
<div class="top-height"></div>

<div class="wrapper">

  <div class="side-bar">
    <div class="rooms">
      <% current_team.rooms.each do |room| %>
        <div class="room-container">
          <div class="room-name">
            <%= image_tag (room.teams.select{|team| team.id != current_team.id }[0].image), class: "room-icon"%>
            <%= link_to room.teams.select{|team| team.id != current_team.id }[0].name, team_room_messages_path(current_team.id, room.id) %>
          </div>
        </div>
      <%end%>
    </div>
  </div>

  <div class="chat">
    <div class="messages">
    </div>


    <%= form_with model: [@room, @message], url: team_room_messages_path(current_team.id, @room.id), method: :post, local: true, class: "form" do |f| %>
      <div class="form-input">
        <%= f.text_field :content ,class: "form-message", placeholder: "type a message" %>
      </div>
        <%= f.submit "送信" ,class: "form-submit" %>
    <%end%>
  </div>

</div>