<%= render "shared/main_header" %>

<div class="top-height"></div>
<div class="mem-index-main-wrapper">
  <div class="mem-index-container">
    <div class="team-name"><%= @team.name %></div>
    <div class="image-container">
      <% if @team.image.attached? %>
        <%= image_tag @team.image.variant(resize: "180x160"), class: "team-logo" %>
      <%else%>
        <%= image_tag "noimage.png", class: "team-logo" %>  <%#画像がなければデフォルト画像の表示 %>
      <%end%>
    </div>

    <% if team_signed_in? && current_team.id == @team.id %>
      <div class="index-btn-container">
        <%= link_to "選手の追加", new_team_member_path(@team.id), class:"index-btn" %>
      </div>
    <%elsif team_signed_in? %>
      <div class="index-btn-container">
        <%= link_to "対戦申し込み", "#", class:"index-btn" %>
      </div>
    <%end%>

    <div class="team-grades">
      <div>対戦回数</div>
      <div>勝敗</div>
      <div>チーム打率</div>
      <div>チーム盗塁数</div>
      <div>チーム奪三振数</div>
      <div>高校野球出身者</div>
    </div>
    

    <div class="mem-container">
        <div class="mem-pitcher">
          <h2>投手一覧</h2>
            <% @members.each do |member|%>
              <% if member.position_id == 1 %>
                <div class="person-container">
                  <% if member.mem_image.attached? %>
                    <%= link_to image_tag(member.mem_image, class: "person-image"), team_member_path(@team.id, member.id)  %>
                  <%else%>
                    <%= link_to image_tag("noimage.png", class: "person-image"), team_member_path(@team.id, member.id)  %>
                  <%end%>
                  <div class="person-profile-left">
                    <div class="profile-tag">
                      No: <%= member.uni_no %>
                    </div>
                    <div class="profile-tag">
                      <%= member.name%>
                    </div>
                    <div class="profile-tag">
                      <%= member.position.name %>
                    </div>
                    <div class="profile-tag">
                      <%= member.dominant_hand.name %>
                    </div>
                  </div>
                  <div class="person-profile-right">
                    <div class="profile-tag">
                      登板回数
                    </div>
                    <div class="profile-tag">
                      7勝 2敗
                    </div>
                    <div class="profile-tag">
                      奪三振数
                    </div>
                    <div class="profile-tag">
                      四球 20/死球 5
                    </div>
                    <div class="profile-tag">
                      被安打
                    </div>
                  </div>
                </div>
              <%end%>
            <%end%>
        </div>

        <div class="mem-batter">
          <h2>打者一覧</h2>
          <% @members.each do |member|%>
          <% unless member.position_id == 1 %>
            <div class="person-container">
              <% if member.mem_image.attached? %>
                <%= link_to image_tag(member.mem_image, class: "person-image"), team_member_path(@team.id, member.id)  %>
              <%else%>
                <%= link_to image_tag("noimage.png", class: "person-image"), team_member_path(@team.id, member.id)  %>
              <%end%>

              <div class="person-profile-left">
                <div class="profile-tag">
                  No: <%= member.uni_no %>
                </div>
                <div class="profile-tag">
                  <%= member.name%>
                </div>
                <div class="profile-tag">
                  <%= member.position.name %>
                </div>
                <div class="profile-tag">
                  <%= member.dominant_hand.name %>
                </div>
              </div>
              <div class="person-profile-right">
                <div class="profile-tag">
                  打率
                </div>
                <div class="profile-tag">
                  打席数
                </div>
                <div class="profile-tag">
                  打点
                </div>
                <div class="profile-tag">
                  本塁打
                </div>
                <div class="profile-tag">
                  盗塁
                </div>
              </div>
            </div>
          <%end%>
          <%end%>
        </div>
      </div>
  </div>
</div>





<%= render 'shared/footer' %>