<%= render "shared/main_header" %>

<div class="top-height"></div>
<div class="mem-index-main-wrapper">
  <div class="mem-index-container">
    <% if @team.image.attached? %>
       <%= image_tag @team.image.variant(resize: "200x180"), class: "team-logo" %>
    <%else%>
       <%= image_tag "noimage.png", class: "team-logo" %>  <%#画像がなければデフォルト画像の表示 %>
    <%end%>
    <div class="index-btn-container">
      <%= link_to "選手の追加", new_team_member_path(@team.id), class:"" %>
    </div>
    <% @members.each do |member|%>
      <%= link_to member.name, team_members_path(member.team_id, member.id) %>
    <%end%>
    <div class="mem-pitcher">
    </div>
    <div class="mem-batter">
    </div>
  </div>
</div>





<%= render 'shared/footer' %>