<%= render "shared/main_header" %>

<div class="top-height"></div>
<div class="show-main-wrapper">

  <%if flash[:alert] %>
    <p class="flash-message2 alert"><%= flash[:alert] %></p>
  <%end%>

  <div class="new-container">
    <div class="field-container">
      <h2 class="title">選手登録 : <%= @team.name %></h2>
      <% if @member.errors.any? %>
        <div class="member-errors-container">
          <%= render "devise/shared/error_messages", resource: @member%>
        </div>
        <%end%>
      <%= form_with model: @member, url: team_members_path(@team.id), method: :post,  local: true do |f|%>
        <div class='field-input'>
          選手名を入力<i> ＊空白を含めない＊</i>
        </div>
        <div class='field-input'>
          <%= f.text_field :name, placeholder: "入力例 : 田中太郎" , maxlength: 8%>
        </div>
        <div class='field-input'>
          写真を登録
        </div>
        <div class='field-input'>
          <%= f.file_field :mem_image, class: "image-input" %>
        </div>
        <div class='field-input'>
          <span class="span-form-label">背番号入力</span>
          <%= f.text_field :uni_no, placeholder: "0 ~ 100", maxlength: 3,class: "select-input"%>
          <span class="span-form-label">番</span>
        </div>
        <div class='field-input'>
        <span class="span-form-label">利投・利打</span>
          <%= f.collection_select :dominant_hand_id, DominantHand.all, :id, :name, { include_blank: "----"}, class: "select-input" %>
        </div>
        <div class='field-input'>
          <span class="span-form-label">ポジション</span>
          <%= f.collection_select :position_id, Position.where(id: [1,2,3,4,5,6,7]), :id, :name, {include_blank: "----"}, class: "select-input" %>
        </div>
        <div class='field-input'>
          <span class="span-form-label">最終野球歴</span>
          <%= f.collection_select :base_hist_id, BaseHist.all, :id, :name, {include_blank: "----"}, class: "select-input"  %>
        </div>
        <div class='actions'>
          <%= f.submit "選手登録", class: "submit-btn" %>
        </div>
      <%end%>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>